.modal-content {
      border-radius: 15px;
      text-align: center;
      padding: 30px 20px;
    }
    .success-icon {
      font-size: 60px;
      color: #28a745;
      margin-bottom: 15px;
    }
    .btn-login {
      background-color: #e74c3c;
      border: none;
      width: 100%;
    }
    .btn-login:hover {
      background-color: #c0392b;
    }

    /* modal  */
.no-border-modal .modal-header,
.no-border-modal .modal-footer {
  border: none !important;
}

.succesImage{
 width: 100px;
  height: 100px;
  object-fit: contain;
  display: block;
  margin: 0 auto;  
  text-decoration: none;
}